.menu-ul1{
    width: 240px;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 35px;
    font-size: 16px;
    color: #fff;
    background: #0090f9 url(../imgs/ul1Bg.jpg) bottom center no-repeat;
    background-size: 240px 35px;
    border-radius: 10px;
}
.menu-ul1>li{
	/*font-weight: bold;*/
	padding-left: 40px;
	margin-bottom: 25px;
    background: url(../imgs/san.png) 20px 4px no-repeat;
    background-size: 12px;

    width: 150px;
}
.menu-ul2{
	/*width:200px;*/
	height: auto;
	font-size: 15px;
}
.menu-ul2>li{
	height: 1.5em;
	line-height: 1.5em;
	padding-left: 18px;
	font-size: 16px;
	/*font-weight: normal;*/
	background: url(../imgs/whiteCir.png) 5px center no-repeat ;	
    background-size: 10px;
	letter-spacing: 1px;
}
.menu-ul2 li:hover{
	background:#fff url(../imgs/blueCir.png) 5px center no-repeat;
	background-size: 10px;
	color: #0090f9;
	cursor: pointer;
	border-radius: 5px;
}
/*新模板的菜单栏*/
.model-menu-ul2{
	/*width:200px;*/
	height: auto;
	font-size: 15px;
	position: relative;
	left: -10px;
	/*color: #fff;*/
}
.model-menu-ul2 li{
	height: 1.5em;
	width: 90px;
	line-height: 1.5em;
	padding-left: 18px;
	font-size: 18px;
	color: #fff;
	/*font-weight: normal;*/
	background: url(../imgs/whiteCir.png) 5px center no-repeat ;
    background-size: 10px;
	letter-spacing: 1px;
}
.model-menu-ul2 li:hover{
	background:#fff url(../imgs/blueCir.png) 5px center no-repeat;
	background-size: 10px;
	color: #0090f9;
	cursor: pointer;
	border-radius: 5px;
	/*border: 1px solid #000;*/
}
.model-menu-ul2 a{
	position: relative;
	height: auto;
	text-decoration: none;
	color: black;
}
.model-menu-ul2 li.active{
	background:#fff url(../imgs/blueCir.png) 5px center no-repeat;
	background-size: 10px;
	color: #0090f9;
	cursor: pointer;
	border-radius: 5px;
}
.model-menu-ul2 a div.fa{
	position: absolute;
    left: -5px;
    top: -30px;
    color: #fff;
}
.model-menu-ul2 a div.fa:hover{
	cursor: pointer;
}
.instance-ul2 li{
	width: 90px;
	height: 1.5em;
	line-height: 1.5em;
	padding-left: 18px;
	font-size: 18px;
	color: #fff;
	background: url(../imgs/whiteCir.png) 5px center no-repeat ;
    background-size: 10px;
	letter-spacing: 1px;
}
.instance-ul2 li:hover{
	background:#fff url(../imgs/blueCir.png) 5px center no-repeat;
	background-size: 10px;
	color: #0090f9;
	cursor: pointer;
	border-radius: 5px;
}
.instance-ul2 a{
	position: relative;
	height: auto;
	text-decoration: none;
	color: black;
}
.instance-ul2 li.active{
	background:#fff url(../imgs/blueCir.png) 5px center no-repeat;
	background-size: 10px;
	color: #0090f9;
	cursor: pointer;
	border-radius: 5px;
}
.instance-ul2 a div.fa{
	position: absolute;
    left: -5px;
    top: -30px;
    color: #fff;
}
.instance-ul2 a div.fa:hover{
	cursor: pointer;
}
