<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="../scripts/jquery-2.2.3.min.js" ></script>
		<script type="text/javascript" src="../scripts/template.js" ></script>
		<script type="text/javascript" src="../scripts/menu.js" ></script>
		<script type="text/javascript" src="../scripts/publishRest.js" ></script>
		<link rel="stylesheet" href="../styles/style.css" />
		<link rel="stylesheet" href="../styles/substyle.css" />
		<link rel="stylesheet" href="../styles/button.css" />
		<link rel="stylesheet" href="../styles/table.css" />
		<link rel="stylesheet" href="../styles/menu.css" />
	</head>
	<body>
		<div class="content">
			<form class="setwh">
				<span>模板名称：</span>
				<input class="tName" type="text" id="tName" placeholder="新模板" />
			    <br />
				<span>长&nbsp;&nbsp;宽&nbsp;&nbsp;比：</span>
				<select class="tWh" name="tWh" id="tWh">
					<option value="16:9">16:9</option>
					<option value="4:3">4:3</option>
				</select>
				<br />
				<br />
				<div class="button-search btnML"  onclick="createnewtemplate()">编辑</div>
			</form>
		</div>
	</body>
	<script>
	window.onload = function(){
		document.getElementById("tName").focus();
	}
	</script>
</html>
