 
.divide_line{
	margin-top:40px;
	border: none;
	border-top: 3px ridge green;
	height:3px;
}
/*创建模板-新模板-新页面 */
#opration_div{
	width: 25%;
	float: left;
	margin-left: 3%;
}
#opration_div button{
	border: none;
	margin-right: 20px;
	padding: 5px;
	color: #333;
	border-radius: 5px;
}
#opration_div button:hover{
	color: #fff;
	background: #3399FF;
}
.operate_toolbar{
	float: left;
	margin: 0;
	margin-left: 15%;
	list-style: none;   
} 
.each_operate{
 	display: inline-block;
 	margin-left: 5px;
 	padding: 6px 5px;
 	color: #444;
 	border-radius: 5px;
 	cursor: pointer;
 }
 .each_operate:hover{
 	color: #fff;
 }
.edit{
	background: #64B7F6;
}
.save{
	background: #99CC63;
}
.check{
	background: #6666FF;
}
.cancel_check{
	background: #F66955;
}
.release{
	background: #F39C11;
}
.fa:before{
	padding-right: 5px;
}
/* 
.edit,.check,.save,.cancel_check,.release{
	width:50px;
	height: 30px;
    margin-right: 10px;	 
}*/

#block_data{	 
	width:60%;
	height: 30px;
	float:right;
	margin-top:10px;
	padding-top:5px;
}
 /*.cancel_check{
 	margin-right: -100px;
 }*/
.template_name{
	font-size: 30px;
}
.each_page{
	padding-top: 15px;
}
.each_page_dot{
	width: 20px;
	height: 20px;
}
.each_page_text{
	font-size: 25px;
}
.each_operation{
	font-size: 20px;
}
 
#propertyFrame{margin-left:15px;height:150px; width:160px; overflow-x:hidden; overflow-y:auto; border:1px inset blue; padding:10px; text-indent:5px;background-color: burlywood;display: none}
#propertyBar{margin-top:50px;margin-left:15px;line-height:20px; height:20px; width:182px; overflow:hidden; background-color:#27C; color:white; font-weight:bold; border-bottom:1px outset blue; text-align:center;display: none;}
.setName{font-size: 5px;background-color: burlywood}
.setEdge{font-size: 5px;background-color: burlywood}
.input_pro{width:100px;height:20px;background-color: burlywood}
table,td{background-color: burlywood}
/*#save_button,#cancel_button{margin-left:20px;margin-top:25px;background-color: burlywood;font-size: 5px;}*/
.left_sidebar{
	float: left;
	width: 150px;
	height: 100%;
}
 
#canvas_div{
	 
 margin-bottom: 180px;
 margin-left: 3%;
 margin-top: 50px;
 margin-right: 50px;
 padding:0px;
 
}
#canvas_to_grid{
	  
	 border-style: solid;
	 border-color:gray;
	 border-width: 3px;
}
.box {
    border: solid 1px red;
    width: 0px;
    height: 0px;
    position: absolute;
    cursor: move;  
}
 
.footer{
	color:#5C635B;
	margin-top: 40px;
 
	bottom: 15px;
	width: 100%;
	clear: both;
}
.footer_text{
	margin-top: 20px;
	text-align: center;
}

